.parentbox {
  height: 100vh;
  text-align: center;
}

.parentbox:before {
  /* create a full-height inline block pseudo-element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  /* vertical alignment of the inline element */
  height: 100%;
}

.childbox {
  display: inline-block;
  vertical-align: middle;

  /* vertical alignment of the inline element */
}

@media screen and (max-width: 601px) {
  .parentbox {
    padding: 50px 0;
    height: auto;

  }
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://source.unsplash.com/KcsKWw77Ovw/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 25px;
}

p {
  font-family: 'Open Sans', sans-serif;
}